@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(src\fonts\Roboto\Roboto_family.ttf) format('truetype');
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* bold */
}