
          :root {
            --primary-color: #D32434;
            --secondary-color: #221144;
            
        
            --black: #000;
            --white: #fff;
          
                    --primary-100:  #d73a48;
                  
                    --primary-200:  #dc505d;
                  
                    --primary-300:  #e06671;
                  
                    --primary-400:  #e57c85;
                  
                    --primary-500:  #e9929a;
                  
                    --primary-600:  #eda7ae;
                  
                    --primary-700:  #f2bdc2;
                  
                    --primary-800:  #f6d3d6;
                  
                    --primary-900:  #fbe9eb;
                  
                    --seondary-100:  #382957;
                  
                    --seondary-200:  #4e4169;
                  
                    --seondary-300:  #64587c;
                  
                    --seondary-400:  #7a708f;
                  
                    --seondary-500:  #9188a2;
                  
                    --seondary-600:  #a7a0b4;
                  
                    --seondary-700:  #bdb8c7;
                  
                    --seondary-800:  #d3cfda;
                  
                    --seondary-900:  #e9e7ec;
                  
                    --gray-100:  #1a1a1a;
                  
                    --gray-200:  #333333;
                  
                    --gray-300:  #4d4d4d;
                  
                    --gray-400:  #666666;
                  
                    --gray-500:  #808080;
                  
                    --gray-600:  #999999;
                  
                    --gray-700:  #b3b3b3;
                  
                    --gray-800:  #cccccc;
                  
                    --gray-900:  #e6e6e6;
                  }